* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(248, 221, 226);
}

h1 {
    /* Fit content gives a box around the name*/
    background-color: rgb(50, 4, 122);
    width: fit-content;
    color: rgb(219, 215, 219);
    display: inline;
    line-height: 50px;
}

header {
    width: 100%;
    background-color: rgb(158, 156, 158);
}

header div img {
    width: 100%;
    height: 150px;
}

header div {
    position: relative;
}

 header div p {
    background-color: rgb(50, 4, 122);
    width: fit-content;
    color: rgb(219, 215, 219);
    font-size: 150%;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

header nav {
    float: right;
    margin-right: 20px;
    height: 50px;
}

header nav ul li {
    display: inline;
    list-style-type: none;
    margin: 30px 5px;
    line-height: 50px;
}

header nav li a {
    text-decoration-thickness: 15%;
    color: rgb(50, 4, 122);
}

p {
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    color:rgb(50, 4, 122);
}

.content-section {
    flex: 1;
    margin-top: 20px;
    padding: 20px;
    position: relative;
}

.content-section h2 {
    position: absolute;
    font-size: 48px;
    width: 25%;
    clear: right;
    left: 100px;
    top: 20px;
}

#about img {
    float: left;
    height: 200px;
    width: 300px;
    border-radius: 20%;
    margin: 10px;
    align-self: flex-start;   
}

#work {
    clear: right;
}

.right {
    float: right;
    width: 75%;
    border-left: 5px solid rgb(50, 4, 122);
    display: flex;
    align-items: center;
}

.right ul li {
    display: inline;
    margin-left: 30px;
    list-style-type: none;
}

.large-image {
    max-width: 1000px;
    max-height: 600px;
    padding: 60px;
}

.big {
    height: 100px;
}