* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(248, 221, 226);
}

h1 {
    /* Fit content gives a blue/purple box around the name*/
    background-color: rgb(50, 4, 122);
    width: fit-content;
    color: rgb(219, 215, 219);
    display: inline; /*Important to get h1 and nav on same line */
    line-height: 50px; /*Centers it vertically*/
    padding: 0px 10px 0px 20px;
}

header {
    width: 100%;
    background-color: rgb(158, 156, 158);
}

header div img {
    width: 100%;
    height: 200px;
}

header div {
    position: relative;
}

 header div p {
    background-color: rgb(50, 4, 122);
    width: fit-content;
    padding: 0px 10px;
    color: rgb(219, 215, 219);
    font-size: 150%;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

header nav {
    float: right;
    margin-right: 20px;
    height: 50px;
}

header nav ul li {
    display: inline;
    list-style-type: none;
    margin: 30px 5px;
    line-height: 50px;
}

header nav li a {
    text-decoration-thickness: 15%;
    color: rgb(50, 4, 122);
}

p {
    font-size: 16px;
    padding: 0px 20px 0px 40px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 800px;
    color:rgb(50, 4, 122);
}

.content-section {
    flex: 1;
    margin-top: 20px;
    padding: 20px;
}

.content-section h2 {
    font-size: 48px;
    width: 25%;
    clear: right;
    display: inline-flex;
    justify-content: space-around;
}

#about img {
    float: left;
    height: 200px;
    width: 300px;
    border-radius: 20%;
    margin: 10px;
    align-self: flex-start;   
}

#work, #contact {
    clear: right;
}

.right {
    float:right;
    width: 75%;
    border-left: 5px solid rgb(50, 4, 122);
    display: flex;
    align-items: center;
}

.right ul li {
    display: inline;
    margin-left: 30px;
    list-style-type: none;
}

.big {
    height: 100px;
}

.work-image {
    width: 400px;
    height: 300px;
}

.large-image {
    width: 800px;
    height: 600px;
    float: left;
}

td {
    position: relative;
    text-align: center;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    border: solid 5px rgb(50, 4, 122);
    background-color: rgba(207, 182, 224, 0.5);
} 

table {
    padding-left: 60px;
}

.overlay:hover{
    cursor: pointer;  
    background-color: rgba(207, 182, 224, 0);
}

td p {
    background-color: rgb(50, 4, 122);
    color: rgb(219, 215, 219);
    position: absolute;
    bottom: 50px;
    left: 0;
    font-size: 32px;
}

td p span {
    font-size: 20px;
}

