* { /*Clear pre-sets*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(248, 221, 226);
    color:rgb(50, 4, 122);
}

.color-box {
    background-color: rgb(50, 4, 122);
    width: fit-content; /* Fit-content gives a blue/purple box around the name*/
    color: rgb(219, 215, 219);
    padding: 0px 20px 0px 30px; /*padding gives a bit of color on the left and right side of the text*/
}

.header {
    background-color: rgb(158, 156, 158);
    height: 240px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex: 1;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.back-image {
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
    position: relative;
}

.text-overlay {
    background-color: rgb(50, 4, 122);
    width: fit-content;
    padding: 0px 10px;
    color: rgb(219, 215, 219);
    font-size: 200%;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

.nav {
    display: flex;
    align-items: flex-end;
    margin-right: 50px;
    padding-bottom: 5px;
}

.nav ul li {
    display: inline;
    list-style-type: none;
    padding: 5px;
    font-size: 18px;
}

.nav li a {
    text-decoration: none;
    border-bottom: solid 3px rgb(50, 4, 122);
    color: rgb(50, 4, 122);
}

.nav li a:hover {
    color: rgb(248, 221, 226);
    border-bottom: solid 3px rgb(248, 221, 226);
}

p {
    font-size: 16px;
    padding: 0px 20px 0px 40px;
}

.box {
    margin-top: 20px;
    padding: 20px;
}

h2 {
    font-size: 48px;
    margin: 20px;
}

.border {
    border-top: 5px solid rgb(50, 4, 122);
    display: flex;
    align-items: center;
}

#about img {
    border-radius: 20%;
    margin: 10px;
    display: flex;
    align-self: center;   
}

.right ul li {
    display: inline;
    margin-left: 30px;
    list-style-type: none;
}

.lg-responsive-img {
    width: 50%;
    height: auto;
}

.responsive-img {
    width: 25%;
    height: auto;
}

.flex-grow-0 {
    flex-grow: 0;
}

@media  screen and (min-width: 768px) {
        .tablet-row {    
            align-items: flex-start;    
            display: flex;    
            flex-direction: row;
        }
        
        .tablet-col {    
            align-items: flex-start;    
            display: flex;    
            flex-direction: column;
        }
        
        .tablet-w25 {    
            width: 25%;
        }

        .tablet-w75 {
            width: 75%;
            border-top: 0px;
            border-left: 5px solid rgb(50, 4, 122);
            display: flex;
            align-items: center;
        }

        .nav li a {
            padding-bottom: 3px;
        }

        .color-box {
            margin: 10px 0px; /*margin gives a bit of gray edging around the box*/
            line-height: 50px; /*line-height gave a small bit of color around the top/bottom edges of the text*/
        }

        .nav {
            line-height: 78px;
        }
}

@media screen and (max-width:500px) {
    h2 {
        font-size: 26px;
    }

    .nav ul li {
        font-size: 16px;
    }

    .header {
        height:150px;
    }

    .text-overlay{
        right: 0px;
        font-size: 26px;
    }

    .lg-responsive-img {
        width: 100%;
    }
    
    .responsive-img {
        width: 100%;
    }
}
/*
td {
    position: relative;
    text-align: center;
}

.overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    left: 0;
    border: solid 5px rgb(50, 4, 122);
    background-color: rgba(207, 182, 224, 0.5);
} 

table {
    padding-left: 60px;
}

.overlay:hover{
    cursor: pointer;  
    background-color: rgba(207, 182, 224, 0);
}

td p {
    background-color: rgb(50, 4, 122);
    color: rgb(219, 215, 219);
    position: absolute;
    bottom: 50px;
    left: 0;
    font-size: 32px;
}

td p span {
    font-size: 20px;
}
*/

